@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --first-color: #fca311;
    --first-color-hover: #fabe5d;
    --sec-color: #14213d;
    --sec-color-hover: #253d72;
    --ter-color: #5f3c4b;
    --ter-color-hover: #946277;
    --layout-bg-color: #e6e6e6d9;
    --card-bg-color: #ffffff;
    --text-base-color: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8rem;
    letter-spacing: .15rem;
    /* animation: ease-in-out; */
    transition: 500ms;
    text-decoration: none;
    color: var(--text-base-color);
}

*:focus{
    outline: none;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;

    text-justify: center;
    justify-content: center;
    justify-self: center;
}

.flex {
    display: flex;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}
.grid-row {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    grid-gap: 1rem;  
    margin-bottom: 1rem;
    padding: 1rem 0;
}

body {
    font-weight: 400;
    margin: 1rem 5%;
}



/*==========HIDDEN MENU============*/

#menu-own-company-block {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(70 70 70 / .8);
}
.menu-own-company {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin-top: auto; 
    margin-bottom: auto; 
    margin-left: auto; 
    margin-right: auto; 

    height: 40rem;
    width: 40rem;
    z-index: 3;
    box-shadow: 0px 0px 10px 1px rgb(33 33 33 / 0.7)
}
.menu-own-company-clients {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    grid-gap: 1rem;  
    margin-bottom: 1rem;
    padding: 1rem 0;
}
#menu-client-block {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(70 70 70 / .8);
}
#menu-client-close {
    position: absolute;
    right: 3rem;
    top: 2.5rem;
}


#menu-client-name {
    font-size: 1.5rem;
}
.menu-client {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin-top: auto; 
    margin-bottom: auto; 
    margin-left: auto; 
    margin-right: auto; 

    max-height: 80%;
    max-width: 60%;
    z-index: 3;
    box-shadow: 0px 0px 10px 1px rgb(33 33 33 / 0.7)
}
#menu-client-stages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    height: 100%;

}
.layout-blueprint{
    color: var(--card-bg-color);
    /* background: var(--sec-color-hover); */
    border-radius: 3px;
    padding: 2rem;
    overflow: auto;

    background-color:var(--sec-color-hover);
    background-image:
    linear-gradient(rgba(255,255,255,0.1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.1) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#menu-client-materials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 1rem;
    /* grid-gap: .5rem; */
}


.margin {
    color: var(--card-bg-color);
    padding: 1rem;
    border: 2px dotted var(--card-bg-color);
}
.margin p,
.margin header,
.margin h2,
.margin span {
    color: var(--card-bg-color);
}
.margin .btn {
    color: var(--text-base-color);
    margin: .5rem 0;
}
.margin .btn-clear {
    color: var(--card-bg-color);
}

/*==========BACKGROUND============*/

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-image: linear-gradient(
        115deg,
        #acacacd5,
        #636363d5
      ),
    url(https://www.freevector.com/uploads/vector/preview/27651/Renovation_vector_4.jpg);
  }



/*==========HEADER============*/


.header p,
.header ul,
.header li,
.header span,
.header header,
.header button,
.header div {
    font-size: .8rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 27rem));
    grid-gap: 1rem;  
    /* height: 76vh; */
    margin-bottom: 1rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.money-div {
    display: flex;
}

.clock {
    display: block;
    width: 7rem;
    padding-left: .5rem;
    border-left: 2px dotted var(--sec-color);
}


.nav-stats-client {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: .5rem;
}

#btn-clients {
    width: 100%;
}

.nav-stats div {
    padding: 0 .5rem;
    border-left: 2px dotted var(--sec-color);
}

.nav-clients header {
    display: flex;
    justify-content: space-between;
    width: 7rem;
}

.send-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.5rem;
}
.send-money input {
    width: 6rem;
}



/* ==============LAYOUT============== */

.layout {
    background: var(--layout-bg-color);
    border-radius: 3px;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;   
    height: 76vh;
}


/* ==============WAREHOUSE============== */

.layout-warehouse {
    position: fixed;
    width: 27rem;
    padding: 1rem;
    margin: 0 0%;
    transition:
        ease-out 200ms;
    right: 5%;
    top: 88%;
    bottom: 0;

    z-index: 1;
}

.layout-warehouse:hover {
    position: fixed;
    transition:
        ease-out 200ms;
    box-shadow: 0 0 3rem 1rem rgba(122, 122, 122, 0.3);
    right: 5%;
    width: 90%;
    top: 70%;
    bottom: 0;
}


.warehouse {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem 0;
}
.warehouse button {
    width: 100%;
}



/* ==============CANVAS============== */

.canvas {
    background-color: var(--layout-bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


/* ==============SIDE MENU============== */

.layout-site-construction {
    position: fixed;
    display: block;
    left: 5%;
    width: 27rem;
    height: 60rem;
    flex-direction: column;
    overflow: auto;
}


h2 {
    font-size: 1.5rem;
}

.side-menu {
    position: fixed;
    display: block;
    width: 50rem;
    flex-direction: column;
}

/* ==============SIDE MENU HOVER============== */

.side-menu {
    right: -47rem;
    padding-left: 5rem;
    transition:
    ease-out 200ms;
    min-height: 50rem;

}
.side-menu:hover {
    right: 0%;
    padding-left: 1rem;
    transition:
    ease-out 200ms;

}
.title-move {
    position: fixed;
    width: 20rem;
    transform: rotate(-90deg) translate(-21rem, -13rem);
    transition:
    ease-out 000ms;
}
.side-menu:hover>.title-move {
    width: 100%;
    transform: rotate(0deg);
    position: relative;
    right: 0;
}






.side-menu-title,
.side-menu-items {
    padding: 1rem;
    border-bottom: 2px solid var(--sec-color-hover);
}

.side-menu h2,
.side-menu ul {
    padding: 1rem;
}


.side-menu-services {
    /* border-top: 2px solid #1d3557; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-template-rows: 2rem;
    grid-gap: .2rem;
    padding: .5rem 0;
}

.side-menu-items {
    /* border-top: 2px solid #1d3557; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
}


.side-menu-buy {
    /* border-top: 2px solid #1d3557; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.side-menu-buy section {
    display: flex;
}
.side-menu-buy li {
    display: flex;
    margin: .5rem 0;
    align-items: center;
    justify-content: space-between;
}
.side-menu-buy div {
    margin: 0 1rem;
}



/* ==============BUTTONS / CARDS============== */

span {
    color: inherit;
}


.btn, .btn-darkblue {
    display: block;
    min-width: 5rem;
    padding: 0.1rem 1rem;

    transition: 200ms;

    background: var(--first-color);
    color: inherit;

    border-radius: 5px;
    cursor: pointer;
    border: 0;
}
.btn:hover, .btn:focus {
    background: var(--first-color-hover);
}

.btn-darkblue {
    background: var(--sec-color);
    color: var(--card-bg-color);
}
.btn-darkblue:hover, .btn-darkblue:focus {
    background: var(--sec-color-hover);
}


input:focus {
    box-shadow: 0 0 5px var(--sec-color);
}



.btn-sendback {
    background: var(--ter-color);
    color: var(--card-bg-color);
}
.btn-sendback:hover, .btn-sendback:focus {
    background: var(--ter-color-hover);
}
.btn-sendback::after {
    font-size: inherit;
    position: fixed;
    margin-top: -1px;
    margin-left: 1rem;
    content: attr(btn-sudocontent);
    /* box-shadow: 0 0 5px #14213d; */

    transform: scale(0);
    transition:
        ease-out 200ms,
        left ease-out 200ms;
}
.btn-sendback:hover::after {
    position: fixed;
    transform: scale(1);
    background: var(--first-color);
    padding: 0.1rem .5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}





.btn:active, .btn-darkblue:active {
    transition: 100ms;
    transform: scale(1.05);
}


.btn-clear {
    position: relative;
    background: #397047;
}
.btn-clear:hover {
    background: #397047;
}
.btn-clear::after {
    font-size: inherit;
    position: absolute;
    top: 0;
    content: attr(btn-sudocontent);
    transform: scale(0);
    transition:
        ease-out 200ms,
        left ease-out 200ms;
}
.btn-clear:hover::after {
    transform: scale(1);
    background: var(--first-color);
    padding: 0.1rem .5rem;
    border-radius: 5px;
    margin-left: 1.5rem;
}



.card {
    position: relative;
    width: 100%;
    padding: 0.5rem .5rem;
    margin: 0.5rem 0;

    background: var(--card-bg-color);
    color: inherit;

    animation-name: cards;
    animation-duration: 500ms;


    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 20px 5px rgba(122, 122, 122, 0.3);
}
.card:hover {
    box-shadow: 0 0 10px var(--sec-color);
    animation-duration: 1000ms;
}


.card button{
    position: relative;
    margin: 0.5rem .5rem;
    z-index: 1;
}

.unit {
    width: 3rem;
}

.form {
    border: 0;
    width: 5rem;
    padding-left: 0.7rem;
}

@media only screen and (max-width: 1400px) {
    *{
        font-size: 9px;
    }
    body {
        margin: 1rem 5%;
        padding: 1rem 0rem;
        font-size: 10px;
    }
    .container {
        margin-top: 1rem;
    }
    .layout-warehouse {
        margin: 0 0 0 5%;
        width: 90%;
        top: 91%;
        box-shadow: 0 0 3rem 1rem rgba(122, 122, 122, 0.3);
    }
    .layout-warehouse:hover {
        top: 80%;
        bottom: 0%;
    }
  }